= simple_form_for @message do |f|
  = f.input :from, :as => :hidden, :value => @message.from
  = f.input :to_username_list, :as => :string, :label => "To:"
  = f.input :subject, :as => :string, :label => "Subject:"
  = f.input :body, :as => :text, :label => "Body:"
  %p= f.submit "Send"