%h2
  Edit #{resource_name.to_s.humanize}
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.inputs do
    = f.input :first_name
    = f.input :last_initial,  :as => :select, :collection => ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
    = f.input :female, :as => :radio, :label => "Gender", :collection => [["Male",false], ["Female",true]]
    = f.input :email, :as => :email
    
    %i (leave blank if you don't want to change it)
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
    %i (we need your current password to confirm your changes)
    = f.input :current_password, :as => :password
  
  %p= f.submit "Update"
%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
= link_to "Back", :back
