.show
  %reply
    = link_to "Reply", new_contact_message_path(:reply_message => @message)
    %br
    %br
    
  %from
    From:
    %br
    #{@message.message_data.from.username}
    %br
    %br
    
  %to
    To
    %br
    - @message.message_data.to.each do |to_users|
      #{to_users.username},
    %br
    %br
    
  %subject
    Subject
    %br
    #{@message.message_data.subject}
    %br
    %br
    
  %body
    Body
    %br
    #{@message.message_data.body}
    %br
    %br
    