.show
  %from
    From:
    %br
    #{@message.message_data.from.username}
    %br
    %br
    
  %to
    To
    %br
    - @message.message_data.to.each do |to_users|
      #{to_users.username},
    %br
    %br
    
  %subject
    Subject
    %br
    #{@message.message_data.subject}
    %br
    %br
    
  %body
    Body
    %br
    You have been extended a handshake by user #{@message.message_data.from.username} if you would like to accept the handshake click the following link.
    #{@message.message_data.body}
    %br
    %br
    
  %accept
    - if @message.message_data.to.first == current_user
      = button_to "Accept Handshake", {:action=>"update", :controller=>"user_network", :contact => @message.message_data.from.username}