.show
  %from
    From:
    %br
    #{@message.message_data.from.username}
    %br
    %br
    
  %to
    To
    %br
    - @message.message_data.to.each do |to_users|
      #{to_users.username},
    %br
    %br
    
  %subject
    Subject
    %br
    #{@message.message_data.subject}
    %br
    %br
    
  %body
    Body
    %br
    You have been extended a handshake by user #{@message.message_data.from.username} if you would like to accept the handshake click the following link.
    #{@message.message_data.body}
    %br
    %br
    
  %accept
    - if @message.message_data.to.first == current_user
      = form_for @handshake_accept_message, :url => {:action=>"create", :controller=>"contact_messages"}  do |accept_field|
        = accept_field.hidden_field :to_username_list, {:value => @message.message_data.to.first.username}
        = accept_field.fields_for :message_data do |message_data_field|
          = message_data_field.hidden_field :from, {:value => @message.message_data.from}
          = message_data_field.hidden_field :subject
          = message_data_field.hidden_field :body
        = accept_field.submit "Accept Handshake"