= semantic_form_for @user, :url => signup_path do |f|
  = f.semantic_fields_for :profile do |profile_fields|
    = profile_fields.semantic_fields_for :name do |name_fields|
      = name_fields.inputs do
        = name_fields.input :first, :label => "First name"
        = name_fields.input :last_initial, :as => :select, :collection => [['A', 'A'],['B', 'B'],['C', 'C'],['D', 'D'],['E', 'E'],['F', 'F'],['G', 'G'],['H', 'H'],['I', 'I'],['J', 'J'],['K', 'K'],['L', 'L'],['M', 'M'],['N', 'N'],['O', 'O'],['P', 'P'],['Q', 'Q'],['R', 'R'],['S', 'S'],['T', 'T'],['U', 'U'],['V', 'V'],['W', 'W'],['X', 'X'],['Y', 'Y'],['Z', 'Z']]
    = profile_fields.semantic_fields_for :age do |age_fields|
      = age_fields.inputs do
        = age_fields.input :date_of_birth, :as => :date, :start_year => 1900, :end_year => Time.now.year
    = profile_fields.semantic_fields_for :gender do |gender_fields|
      = gender_fields.inputs do
        = gender_fields.input :female, :as => :radio, :label => "Gender", :collection => [["Male",false], ["Female",true]]
  = f.semantic_fields_for :habitation do |habitation_fields|
    - @user.habitation.locations.each do |location|
      -# if location._type == "Zipcode"#HACK HACK HACK ALERT
      = habitation_fields.semantic_fields_for :locations, location do |location_fields|
        = location_fields.inputs do
          = location_fields.input :number, :label => "Zipcode"
          = location_fields.input :_type, :as => :hidden, :value => "Zipcode"
  = f.inputs do
    = f.input :email, :as => :email
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
  %p= f.submit "Sign up"