%p
  User: #{@user.name}
%p
  Email: #{@user.email if @user.email}

= form_for @user do |form|
  %p
    = form.text_field :like_name
    
    = form.submit "Add Like"
   

%p Likes:
%script
- @user.get_likes().return_like_names.each do |like|
  %p #{StringFormatter.capitalize_words(like)}