.show
  %profile
    Profile:
    %p
    User: #{@user.profile.name.first} #{@user.profile.name.last_initial}.
    %p
    - if @user.profile.gender.female == true
      Gender: Female
    - else
      Gender: Male
    %p 
    Age: #{@user.profile.age.age_in_years}
    %p 

    -#{@user.habitation.locations.size}
    - @user.habitation.locations.each do |location|
      location = #{location}
      location.attributes = #{location.attributes}
      location.type = #{location._type}
      - if location._type == "Zipcode"      
        Zipcode: #{location.number}

  %user_recommendations 
    People Recomendations:
    %br
    - user_index = 1#HACK
    - @user_recommender.each do |user|
      #{link_to("Suggested #{user_index}", user)}
      - user_index = user_index + 1#this can be cleaned up HACK
      %br
    %p
  %like_recommendations
    Interest Recomendations:
    %br
    - @like_recommendations.each do |like|
      #{link_to StringFormatter.capitalize_words(like.name), like}
      %br
    %p
  %add_single_like
    = form_for @user do |form|
      %p
        = form.text_field :like_name
        = form.submit "Add Like"
  
  %add_multiple_likes
    = form_for @user do |form|
      %p
        = form.text_area :like_box
      %p
        = form.submit "Add Likes"

  %user_personality
    Likes (#{@user.personality.likes.size}):
    %br
    %script
    - if @user.personality.likes.size == 0#find way of updating num_likes
      %p No Likes
    - else
      - @user.personality.likes.each do |like|
        #{link_to StringFormatter.capitalize_words(like.name), like}
        %br