.show
  %left_panel
    %profile
      %user_header
        Profile:
      %p
      Username: #{@user.username}
      %p
      User: #{@user.profile.name.first} #{@user.profile.name.last_initial}.
      %p
      - if @user.profile.gender.female == true
        Gender: Female
      - else
        Gender: Male
      %p 
      Age: #{@user.profile.age.age_in_years}
      %p 

      - @user.habitation.locations.each do |location|
        - if location._type == "Zipcode"
          Zipcode: #{location.number}
        
    %like_adders
      %add_single_like
        = form_for @user do |form|
          %p
            = form.text_field :like_name
            = form.submit "Add Like"
        
      %add_multiple_likes
        = form_for @user do |form|
          %p
            = form.text_area :like_box
          %p
            = form.submit "Add Likes"
          
  %right_panel
    %recommendations
      %user_recommendations
        %user_header
          People Recommendations:
        %br
        - @user_peeks.each_with_index do |user_peek, user_index|
          Suggested #{user_index+1}
          %br
          Common Interests:
          %br
          - user_peek.similar_likes.each do |similar_like|
            #{link_to StringFormatter.capitalize_words(similar_like.name), similar_like}
            %br
          %br
          -# link_to "Handshake #{user_peek.user.username}", user_peek.handshake
          %br
        %p
  
        
      %like_recommendations
        %user_header
          Interest Recommendations:
        %br
        - @like_recommendations.each do |like|
          #{link_to StringFormatter.capitalize_words(like.name), like}
          %br
        %p

  %user_personality
    %user_header
      Likes (#{@user.personality.likes.size}):
    %br
    %script
    - if @user.personality.likes.size == 0#find way of updating num_likes
      %p No Likes
    - else
      - @user.personality.likes.each do |like|
        #{link_to StringFormatter.capitalize_words(like.name), like}
        %br