.show
  = link_to "New Message", new_connection_message_path
  %user_inbox
    Inbox
    %br
    %message
      %from
        From
      %subject
        Subject
    %br
    - @mailbox.inbox.container.messages.each do |message|
      %message
        %from
          #{message.message_data.from.email} 
        %subject
          #{link_to message.message_data.subject, message}
        %br
  %user_outbox
    Outbox
    %br
    %message
      %from
        From
      %subject
        Subject
    %br
    - @mailbox.outbox.container.messages.each do |message|
      %message
        %from
          #{message.message_data.from.email} 
        %subject
          #{link_to message.message_data.subject, message}
        %br